{% extends 'base.html' %}

{% block content %}
<h1>Рекламные объявления</h1>
{% if user.is_authenticated %}
    <a href="{% url 'board:add_advertisement' %}"><button>Добавить объявление</button></a>
{% endif %}
<ul>
  {% for advertisement in advertisements %}
    <h3>Автор: {{ advertisement.author.username }}</h3>
    <form action="{% url 'board:likes' pk=advertisement.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">👍 {{ advertisement.likes }}</button>
    </form>
    <form action="{% url 'board:dislikes' pk=advertisement.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">👎 {{ advertisement.dislikes }}</button>
    </form>

    <li>
      <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}</a>
      {% if advertisement.image %}
        <img src=" {{ advertisement.image.url }}" alt="{{ advertisement.title }}" style="max-width: 100%; height: auto;">
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>
    <li>Имя текущего автора: {{ user.username }}</li>
    <li>Количество входов: {{ user.profile.total_visits }}</li>
    <li>Последний визит: {{ user.profile.last_visit }}</li>
    <li>Всего загружено объявлений: {{ user.profile.id }}</li>
</h2>

{% endblock %}
