{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>

<div style="display:flex; flex-direction:column">
    <span>
        <a href="{% url 'board:edit_advertisement' advertisement.pk %}">Редактировать</a>
    </span>
    <span>
        <a href="{% url 'board:delete_advertisement' advertisement.pk %}">Удалить</a>
    </span>
</div>

<div class="advertisement">
    <h2>{{ advertisement.title }}</h2>
    <p>{{ advertisement.content }}</p>
    {% if advertisement.image %}
        <img src="{{ advertisement.image.url }}" alt="Изображение объявления">
    {% endif %}
</div>
{% endblock %}